script(type="text/javascript", src="/dependencies/angularjs/angular.js")
script(type="text/javascript", src="/dependencies/jquery/dist/jquery.js")
script(type="text/javascript", src="/dependencies/lodash/lodash.js")
script(type="text/javascript", src="/dependencies/angular-google-maps/dist/angular-google-maps.js")
script(type="text/javascript", src="/dependencies/Chart.js/Chart.min.js")
script(type="text/javascript", src="/dependencies/angular-chart.js/dist/angular-chart.min.js")
script(type="text/javascript", src="/dependencies/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/dependencies/angular-route/angular-route.js")
script(type="text/javascript", src="/dependencies/angular-resource/angular-resource.js")
script(type="text/javascript", src="/dependencies/angular-smart-table/dist/smart-table.min.js")
script(type="text/javascript", src="app.js")
script(type="text/javascript", src="/Services/userDataService.js")
script(type="text/javascript", src="/landingPage/mainCtrl.js")
script(type="text/javascript", src="/maps/mapCtrl.js")
script(type="text/javascript", src="/Services/mapCoordsService.js")
script(type="text/javascript", src="/maps/mapCtrl.js")
script(type="text/javascript", src="/table-page/getQueryDataCtrl.js")
script(type="text/javascript", src="/Services/dataService.js")
script(type="text/javascript", src="/maps/mapAllCtrl.js")
script(type="text/javascript", src="tab3/chartCtrl.js")


