//div.intro
//    div.col-lg-8.col-lg-offset-2
//        div.intropara
//            p hey
div.form-content
    div.col-lg-8.col-lg-offset-2
        div(ng-controller = 'mainCtrl')

            h3 From Year:
            //i.fa.fa-calendar-o
            select(ng-options='year as year for year in fromYear' name="{{year}}" ng-model='selectedFromYear',ng-change="toYearFun(selectedFromYear)")
            //div(ng-hide="selectedFromYear")
            //    br
            //    p select the above to see end year
            br
            h3 To Year:
            select(ng-options='year as year for year in toYear' name="{{year}}" ng-model='selectedToYear')
            br
            h3 States
            div.checkbox
                label
                    input(type="checkbox" value="CA" name="checkboxCA" ng-model="checkboxCA")
                    |California

                label
                    input(type="checkbox" value="OR" name="checkboxOR" ng-model="checkboxOR")
                    |Oregon

                label
                    input(type="checkbox" value="WA" name="checkboxWA" ng-model="checkboxWA")
                    |Washington

            h2 Click to submit the selection:
            div.submit-button(ng-if="selectedFromYear && selectedToYear &&(checkboxCA || checkboxOR || checkboxWA)")
                a(href="/tables-page")
                    input.btn.btn-default(type="submit" name="inputSubmit" ng-click="callToSaveUserData(selectedFromYear,selectedToYear,checkboxCA,checkboxOR,checkboxWA)")

