div.form-content.jumbotron
    div.col-lg-8.col-lg-offset-2
        div(ng-controller = 'mainCtrl')
            h1 Debris Flow Events
            br
            span.years From Year:
            select(ng-options='year as year for year in fromYear' name="{{year}}" ng-model='selectedFromYear',ng-change="toYearFun(selectedFromYear)")
            span.years To Year:
            select(ng-options='year as year for year in toYear' name="{{year}}" ng-model='selectedToYear')
            br
            h3 Select States
            div.checkbox
                label
                    input(type="checkbox" value="CA" name="checkboxCA" ng-model="checkboxCA")
                    |California

                label
                    input(type="checkbox" value="OR" name="checkboxOR" ng-model="checkboxOR")
                    |Oregon

                label
                    input(type="checkbox" value="WA" name="checkboxWA" ng-model="checkboxWA")
                    |Washington

            //h2 Click submit button to submit the selection:
            div.submit-button(ng-if="selectedFromYear && selectedToYear &&(checkboxCA || checkboxOR || checkboxWA)")
                a(href="/tables-page")
                    input.btn.btn-primary(type="submit" name="inputSubmit" ng-click="callToSaveUserData(selectedFromYear,selectedToYear,checkboxCA,checkboxOR,checkboxWA)")