//
   Created by rakeshthakur on 8/30/Bar5.
div.col-md-8.col-md-offset-2
    div.row
        div.col-md-8.col-md-offset-2(id = "line-bar")
            div(id = "line-bar")
                div.panel.panel-default
                    div.panel-heading
                        b Deaths per year bar graph
                    div.panel-body
                        canvas(id="line" class="chart chart-line" chart-data="dataDeathsBar" chart-labels="labelsBar" chart-legend="true" chart-series="seriesBar" chart-click="onClick")
                        //canvas.chart.chart-bar(id="bar" chart-data="dataDeathsBar" chart-labels="labelsBar" chart-legend="true" click="onClick" chart-series="seriesBar")
    div.row
        div.col-md-8.col-md-offset-2(id = "line-bar")
            div.panel.panel-default
                div.panel-heading
                    b Injuries per year bar graph
                canvas.chart.chart-bar(id="bar" chart-data="dataInjuriesBar" chart-labels="labelsBar" chart-legend="true" click="onClick" chart-series="seriesBar")
    div.row
        div.col-md-8.col-md-offset-2(id = "chart-doughnut")
            div.panel.panel-default
                div.panel-heading
                    b Property loss per state
                canvas.chart.chart-doughnut(id="doughnut" chart-data="dataDoughnut" chart-labels="labelsDoughnut" chart-legend="true" click="onClick"  chart-options = "options")
    div.row
        div.col-md-8.col-md-offset-2(id = "chart-line")
            div.panel.panel-default
                div.panel-heading
                    b Property loss per year and State
                canvas.chart.chart-line(id="line" chart-data="dataLine" chart-labels="labelsLine" chart-legend="true" click="onClick"  chart-series = "seriesLine" chart-options = "optionsLine")

    div.infotext(style = "dipsplay:inline-block")
        p All the is taken from &nbsp;
            a(href="http://www.ncdc.noaa.gov/") http://www.ncdc.noaa.gov/